include  *.c  *.h  *.py  *.txt  *.html  *.dll  *.pyd  makefile MANIFEST.in
graft    ac2yd
graft    afedrinet
graft    freedvpkg
graft    hermes
graft    hiqsdr
graft    multuspkg
graft    n2adr
graft    softrock
graft    soapypkg
graft    sdrmicronpkg
graft    perseuspkg
global-exclude *.pyc
